*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  font-family:
    Arial, sans-serif, "Fredoka", system-ui, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --lightGrey: oklch(92.9% 0.013 255.508);
}

.main {
  height: 100vh;
  background-image: linear-gradient(
    to right,
    oklch(58.6% 0.253 17.585),
    oklch(51.4% 0.222 16.935)
  );
  align-content: center;
}

.container {
  margin: 0 auto;
  width: 50%;
  border-radius: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.searchCityDiv {
  display: flex;
}

.searchCityDiv input {
  width: 100%;
  height: 5vh;
  outline: none;
  border: 2px solid var(--lightGrey);
  border-radius: 15px;
  transition: border 0.1s ease;
  padding: 0 10px;
  font-size: 1rem;
}

.searchCityDiv input:focus {
  border: 4px solid var(--lightGrey);
}

.searchCityDiv button {
  margin-left: 10px;
  width: calc(20px + 2vw);
  border: 2px solid var(--lightGrey);
  border-radius: 15px;
  background-color: white;
  transition: transform 0.2s ease;
  font-size: 1.5rem;
}

.searchCityDiv button:hover {
  cursor: pointer;
}

.searchCityDiv button:active {
  transform: translate(5px, -5px);
}

.todayPanelDiv {
  display: flex;
  margin-top: calc(5px + 1vh);
}

.todayPanelDiv div {
  display: flex;
  margin-left: calc(10px + 1vw);
}

.todayPanelDiv div p {
  margin-top: 1vh;
  font-size: 1.5rem;
}

.todayPanelDiv div h1 {
  font-size: 5rem;
  font-weight: 500;
}

.todayPanelDiv div div {
  margin-left: calc(5px + 0.5vw);
  display: flex;
  flex-direction: column;
  padding-top: 1vh;
}

.todayPanelDiv div div p {
  font-size: 0.75rem;
  margin: 3px 0;
  font-weight: 400;
  color: rgb(158, 158, 158);
}
