*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  font-family:
    Arial, sans-serif, "Fredoka", system-ui, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --lightGrey: oklch(92.9% 0.013 255.508);
}

.main {
  height: 100vh;
  background-color: oklch(14.1% 0.005 285.823);
  align-content: center;
}

.container {
  margin: 0 auto;
  width: 50%;
  border-radius: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.searchCityDiv {
  display: flex;
}

.searchCityDiv input {
  width: 100%;
  height: 5vh;
  outline: none;
  border: 2px solid var(--lightGrey);
  border-radius: 15px;
  transition: border 0.1s ease;
  padding: 0 10px;
  font-size: 1rem;
}

.searchCityDiv input:focus {
  border: 4px solid var(--lightGrey);
}

.searchCityDiv button {
  margin-left: 10px;
  width: calc(20px + 2vw);
  border: 2px solid var(--lightGrey);
  border-radius: 15px;
  background-color: white;
  transition: transform 0.2s ease;
  font-size: 1.5rem;
}

.searchCityDiv button:hover {
  cursor: pointer;
}

.searchCityDiv button:active {
  transform: translate(5px, -5px);
}

.weatherContentDiv {
  display: none;
  padding: 0 calc(10px + 1vw);
  overflow: hidden;
  white-space: none;
}

#City {
  margin-top: calc(5px + 3vh);
  margin-bottom: calc(5px + 1vh);
}

.todayPanelDiv {
  display: flex;
  justify-content: flex-start;
}

.tempInfo {
  flex: 0 0 auto;
  display: flex;
}

.tempDiv {
  display: flex;
  margin-left: calc(10px + 1vw);
}

.tempDiv p {
  margin-top: 1vh;
  font-size: 1.5rem;
  text-wrap: nowrap;
}

.tempFahrenheitText {
  color: rgb(158, 158, 158);
}

.tempFahrenheitText:hover,
.tempCelciusText:hover {
  cursor: pointer;
}

#temperature {
  font-size: 5rem;
  font-weight: 500;
}

.tempDiv div {
  margin-left: calc(5px + 0.5vw);
  display: flex;
  flex-direction: column;
  padding-top: 1vh;
}

.tempDiv div p {
  font-size: 0.75rem;
  margin: 3px 0;
  font-weight: 400;
  color: rgb(158, 158, 158);
}
.dayInfo {
  flex: 1 1 auto;
  margin-left: auto;
  min-width: 0;
  max-width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dayInfo h1 {
  margin-bottom: calc(2px + 1vh);
}

.dayInfo p {
  color: rgb(158, 158, 158);
  font-size: 1rem;
}

#loadingScreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  color: black;
  background: grey;
  z-index: 9999;
  transition:
    opacity 0.1s ease,
    visibility 0.1s ease;
}
/* Spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Spinning animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
